<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<ng-container *ngIf="(moviesState$ | async) as state" [ngSwitch]="state.appState">
  <div class="container mt-4" id="main-container">
    <h1 class="title">Filmy</h1>
    <ng-container *ngSwitchCase="'APP_ERROR'">{{state.error | json}}</ng-container>
    <ng-container *ngSwitchCase="'APP_LOADING'">
      <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'APP_LOADED'">
      <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
          <div class="overflow-hidden card table-nowrap table-card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <a class="btn btn-light btn-sm" (click)="onOpenModal(null, 'add')">Dodaj film</a>
              <form #searchForm="ngForm" (ngSubmit)="goToPage(searchForm.value.title)" class="d-flex" role="search">
                <input type="text" name="title" ngModel class="form-control me-2" type="search" placeholder="Search"
                  aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Wyszukaj</button>
              </form>
            </div>

            <div class="table-responsive">
              <table class="table mb-0">
                <thead class="small text-uppercase bg-body text-muted">
                  <tr>
                    <th>Tytuł</th>
                    <th>Reżyser</th>
                    <th>Premiera</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody *ngFor="let movie of state.appData.data.page.content; let i = index;">
                  <tr class="align-middle">
                    <td>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="h6 mb-0 lh-1">{{movie.title}}</div>
                        </div>
                      </div>
                    </td>
                    <td>{{movie.director.name}} {{ movie.director.surname}}</td>
                    <td> <span class="d-inline-block align-middle">{{movie.yearOfRelease}}</span></td>
                    <td class="text-end">
                      <div class="drodown">
                        <a data-bs-toggle="dropdown" href="#" class="btn p-1" aria-expanded="false">
                          <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a href="#!" class="dropdown-item" (click)="onOpenModal(movie, 'edit')">Edit</a>
                          <a href="#!" class="dropdown-item" (click)="onOpenModal(movie, 'delete')">Delete</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <!-- <li class="page-item"> <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">Previous &laquo;</span>
            </a></li> -->
          <li *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages); let i = index;"
            class="page-item pointer">
            <a (click)="goToPage((searchForm.value.title), i)" class="page-link">
              {{ i + 1 }}
            </a>
          </li>
          <!-- <li class="page-item"><a class="page-link" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a></li> -->
        </ul>
      </nav>
    </ng-container>
  </div>
</ng-container>

<!-- <div *ngIf="directors$ | async as directors">
  <div *ngFor="let director of directors">
    {{director.name}}
  </div>
</div> -->

<!-- Add Movie Modal -->
<div class="modal fade" id="addMovieModal" tabindex="-1" role="dialog" aria-labelledby="addMovieModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMovieModalLabel">Add Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddMovie(addForm)">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
          </div>
          <div class="form-group" *ngIf="directors$ | async as directors">
            <label for="director">Director</label>
            <select ngModel name="director" class="form-control" id="director" placeholder="Director" required>
              <option *ngFor="let director of directors" [ngValue]="director">
                {{ director.name }} {{ director.surname }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="yearOfRelease">Released</label>
            <input type="number" ngModel name="yearOfRelease" class="form-control" id="yearOfRelease" placeholder="2023"
              required>
          </div>
          <div class="form-group">
            <label for="posterUrl">Poster URL</label>
            <input type="text" ngModel name="posterUrl" class="form-control" id="posterUrl" placeholder="Poster URL"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-movie-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateMovieModal" tabindex="-1" role="dialog" aria-labelledby="movieEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateMovieModalLabel">Edit Movie {{editMovie?.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" ngModel="{{editMovie?.title}}" name="title" class="form-control" id="title"
              aria-describedby="emailHelp" placeholder="Title">
          </div>
          <input type="hidden" ngModel="{{editMovie?.id}}" name="id" class="form-control" id="id" placeholder="">
          <div class="form-group" *ngIf="directors$ | async as directors">
            <label for="director">Director</label>
            <select ngModel name="director" class="form-control" id="director" placeholder="Director" required>
              <option *ngFor="let director of directors" [ngValue]="director">
                {{ director.name }} {{ director.surname }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="yearOfRelease">yearOfRelease</label>
            <input type="number" ngModel="{{editMovie?.yearOfRelease}}" name="yearOfRelease" class="form-control"
              id="yearOfRelease" placeholder="2023">
          </div>
          <div class="form-group">
            <label for="posterUrl">Image URL</label>
            <input type="text" ngModel="{{editMovie?.posterUrl}}" name="posterUrl" class="form-control" id="posterUrl"
              placeholder="Movie URL">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateMovie(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteMovieModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete Movie {{deleteMovie?.title}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteMovie(deleteMovie?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>