<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<ng-container *ngIf="(directorsState$ | async) as dstate" [ngSwitch]="dstate.appState">
  <div class="container mt-4" id="main-container">
    <h1 class="title">Reżyserowie</h1>
    <ng-container *ngSwitchCase="'APP_ERROR'">{{dstate.error | json}}</ng-container>
    <ng-container *ngSwitchCase="'APP_LOADING'">
      <div class="d-flex justify-content-center mt-4">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'APP_LOADED'">
      <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
          <div class="overflow-hidden card table-nowrap table-card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <a class="btn btn-light btn-sm" (click)="onOpenModal(null, 'add')">Dodaj reżysera</a>
              <form #searchForm="ngForm" (ngSubmit)="goToPageD(searchForm.value.title)" class="d-flex" role="search">
                <input type="text" name="title" ngModel class="form-control me-2" type="search" placeholder="Search"
                  aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Wyszukaj</button>
              </form>
            </div>

            <div class="table-responsive">
              <table class="table mb-0">
                <thead class="small text-uppercase bg-body text-muted">
                  <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <ng-container *ngIf="dstate.appData && dstate.appData.data.page">
                  <tbody *ngFor="let director of dstate.appData.data.page.content; let i = index;">
                    <tr class="align-middle">
                      <td>
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="h6 mb-0 lh-1">{{director.id}}</div>
                          </div>
                        </div>
                      </td>
                      <td>{{director.name}}</td>
                      <td> <span class="d-inline-block align-middle">{{director.surname}}</span></td>
                      <td class="text-end">
                        <div class="drodown">
                          <a data-bs-toggle="dropdown" href="#" class="btn p-1" aria-expanded="false">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item" (click)="onOpenModal(director, 'edit')">Edytuj</a>
                            <a href="#!" class="dropdown-item" (click)="onOpenModal(director, 'delete')">Usuń</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </ng-container>
              </table>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li *ngFor="let pageNumber of [].constructor(dstate.appData.data.page.totalPages); let i = index;"
            class="page-item pointer">
            <a (click)="goToPageD((searchForm.value.title), i)" class="page-link">
              {{ i + 1 }}
            </a>
          </li>
        </ul>
      </nav>
    </ng-container>
  </div>
</ng-container>


<!-- Add Director Modal -->
<div class="modal fade" id="addDirectorModal" tabindex="-1" role="dialog" aria-labelledby="addDirectorModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDirectorModalLabel">Dodaj Reżysera</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddDirector(addForm)">
          <div class="form-group">
            <label for="name">Imię</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Imię" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="surname">Nazwisko</label>
            <input type="text" ngModel name="surname" class="form-control" id="surname" placeholder="Nazwisko" autocomplete="off"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-director-form" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Zapisz</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateDirectorModal" tabindex="-1" role="dialog" aria-labelledby="directorEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateDirectorModalLabel">Edytuj Reżysera {{editDirector?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">name</label>
            <input type="text" ngModel="{{editDirector?.name}}" name="name" class="form-control" id="name"
              aria-describedby="emailHelp">
          </div>
          <input type="hidden" ngModel="{{editDirector?.id}}" name="id" class="form-control" id="id" placeholder="">
          <div class="form-group">
            <label for="surname">surname</label>
            <input type="text" ngModel="{{editDirector?.surname}}" name="surname" class="form-control" id="surname">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateDirector(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteDirectorModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Director</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete Director {{deleteDirector?.name}} {{deleteDirector?.surname}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteDirector(deleteDirector?.id)" class="btn btn-danger"
            data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>